<div class="col">
  <h2>Personas</h2>
  <button class="btn btn-primary" (click)="agregarPersona()">Nueva Persona</button>&nbsp;&nbsp;&nbsp;
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Apodo</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let persona of listapersonas ;">
      <td class="hidden">{{ persona.id }}</td>
      <td>{{persona.nombre}}</td>
      <td>{{persona.apellido}}</td>
      <td>{{persona.apodo  }}</td>
      <td>
        <button class="btn btn-success" (click)="editarPersona(persona)">
          Editar
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="eliminarPersona(persona)">
          Borrar
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
