<div class="row">
  <div class="col-md-10">
    <h2 class="text-center">Registrar Persona</h2>
    <form [formGroup]="personaForm" (ngSubmit)="onSubmit()">
      <div class="form-group col-md-8">
        <label>
          Nombre:
          <input type="text" formControlName="nombre" placeholder="Nombre" required>
        </label>
        <label>
          Apellido:
          <input type="text" formControlName="apellido" placeholder="Apellido" required>
        </label>
        <label>
          Apodo:
          <input type="text" formControlName="apodo" placeholder="Apodo" required>
        </label>
      </div>
      <div class="form-group col-md-8">
        <div class="">
          <button type="submit" [disabled]="!personaForm.valid">Guardar</button> &nbsp;&nbsp;&nbsp;
          <button class="btn btn-primary" (click)="volverListado()">Regresar</button>
        </div>
      </div>
    </form>
  </div>
</div>
